
data/*
!data/.gitkeep
!data/processed/
data/processed/*
*.h5ad
*.h5
*.loom
*.mtx
*.npz
*.pt
*.npy
!data/processed/bm_annotated.h5ad

results/benchmark/emb_cnmf/cnmf/



envs/*.tar.gz


__pycache__/
*.pyc
.ipynb_checkpoints/
.vscode/
.DS_Store

notebooks/dimensionality_reduction_benchmark.ipynb
docs/*
!docs/.gitkeep

