
data/*
!data/.gitkeep
!data/processed/
data/processed/*
*.h5ad
*.h5
*.loom
*.mtx
*.npz
*.pt
!data/processed/bm_annotated.h5ad


figures/*
!figures/.gitkeep
results/*
!results/.gitkeep


envs/*.tar.gz


__pycache__/
*.pyc
.ipynb_checkpoints/
.vscode/
.DS_Store

notebooks/dimensionality_reduction_benchmark.ipynb
docs/*
!docs/.gitkeep

src/cell_cell_communication/_.py